<div id="<%= dom_id laboratory %>">
  <p>
    <strong>Registry:</strong>
    <%= laboratory.registry_id %>
  </p>

  <p>
    <strong>Coordinator:</strong>
    <%= laboratory.coordinator_id %>
  </p>

</div>
